/* line 5, ../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html,
body,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html,
body {
  line-height: 1;
}

/* line 24, ../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol,
ul {
  list-style: none;
}

/* line 26, ../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q,
blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/* line 1, ../scss/_modules/_placeholders.scss */
.text-field {
  display: -moz-flex;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
}

/* line 10, ../scss/_modules/_placeholders.scss */
.text-field input,
.text-field button {
  -moz-appearance: none;
  -webkit-appearance: none;
}

/* line 14, ../scss/_modules/_placeholders.scss */
.text-field button {
  border: none;
}

/* line 18, ../scss/_modules/_placeholders.scss */
.text-field input,
.text-field button {
  outline: none;
}

/* line 1, ../scss/_modules/_typography.scss */
h1,
.h1 {
  font-size: 23px;
  line-height: 100%;
  text-align: center;
  margin: 40px 0;
  color: #000000;
}

/* line 1, ../scss/_partials/_base.scss */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 11, ../scss/_partials/_base.scss */
html,
body {
  height: 100%;
  min-height: 100%;
}

/* line 16, ../scss/_partials/_base.scss */
body {
  width: 95%;
  max-width: 500px;
  margin: 0 auto;
  font: 400 14px/100% "Verdana", sans-serif;
}

/* line 1, ../scss/_partials/_ng-barcode.scss */
ng-barcode,
.ng-barcode,
div[ng-barcode] {
  display: block;
  height: 100px;
  margin: 24px auto;
}

/* line 4, ../scss/_partials/_text-field.scss */
.text-field input {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #253a44;
  border-right: none;
  -moz-border-radius: 2px 0 0 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px 0 0 2px;
  -moz-flex-grow: 2;
  -ms-flex-grow: 2;
  -webkit-flex-grow: 2;
  flex-grow: 2;
}
/* line 15, ../scss/_partials/_text-field.scss */
.text-field button {
  cursor: pointer;
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: #000000;
  -moz-border-radius: 0 2px 2px 0;
  -webkit-border-radius: 0;
  border-radius: 0 2px 2px 0;
  -moz-flex-grow: 1;
  -ms-flex-grow: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
.text-field button:hover {
  background-color: #253a44;
}

/*# sourceMappingURL=main.css.map */
