$primary-color-dark:   #0288D1;
$primary-color:        #03A9F4;
$primary-color-light:  #B3E5FC;
$primary-color-text:   #FFFFFF;
$accent-color:         #FFEB3B;
$primary-text-color:   #212121;
$secondary-text-color: #727272;
$divider-color:        #B6B6B6;

$font-size: 14px;